<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    {% include 'nav.html' %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-white bg-secondary mb-4">
                <div class="card-body text-center">
                    <img src="{{ user.pfp }}" alt="Profile Image" onerror="this.style.display='none'" class="rounded-circle mb-3" width="150" height="150">
                    <h2 class="card-title">{{ user.fname}} {{ user.lname }} </h2>
                    <p class="card-text">{{ user.email }}</p>
                    {% if username == user.username %}
                      <a href="/edit-profile" class="btn btn-danger mt-3">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center" style="background-color: #27292a; color: white; margin-top: 10px;"><br>
    <br>
<h3 class="text-center apply-font">Current Rides</h3>
<hr>
</div>

<div class="row" id="rideDisplay">
    {% for ride in currentrides %}
    <div class="col-sm-6" >
        <div class="card" style="color: black; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ ride.s_point }} to {{ ride.destination }}</h5>
          <p class="card-text">{{ ride.details }}</p>
          <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Destination</td>
                    <td class="dest">{{ride.destination}}</td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>{{ride.date}}</td>
                  </tr>
                  <tr>
                    <td>Reach Time</td>
                    <td>{{ride.hour}}:{{ride.minute}} {{ride.ampm}}</td>
                  </tr>
            </tbody>
          </table>
          <!-- <a href="/delete_ride/{{ ride.id }}" style="background-color: #D22B2B; border-color: #D22B2B;" class="btn btn-dark">Delete</a> -->
        </div>
      </div>
    </div>
   {% endfor %}
  </div>

<div class="container-fluid justify-content-center" style="background-color: #27292a; color: white; margin-top: 10px;"><br>
    <br>
<h3 class="text-center apply-font">Past Rides</h3>
<hr>
</div>

<div class="row" id="rideDisplay">
    {% for ride in pastrides %}
    <div class="col-sm-6" >
        <div class="card" style="color: black; margin: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ ride.s_point }} to {{ ride.destination }}</h5>
          <p class="card-text">{{ ride.details }}</p>
          <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Destination</td>
                    <td class="dest">{{ride.destination}}</td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>{{ride.date}}</td>
                  </tr>
                  <tr>
                    <td>Reach Time</td>
                    <td>{{ride.hour}}:{{ride.minute}} {{ride.ampm}}</td>
                  </tr>
            </tbody>
          </table>
          <!-- <a href="/delete_ride/{{ ride.id }}" style="background-color: #D22B2B; border-color: #D22B2B;" class="btn btn-dark">Delete</a> -->
        </div>
      </div>
    </div>
   {% endfor %}
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>